// .bx--type{

// }

// .bx--type-serif{

// }

// .bx--type-mono{

// }

// .bx--type-condensed{

// }

// .bx--type-semibold{

// }

.bx--type-regular{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .32px;
}

// .bx--type-light{

// }

.heading-01{
    color:black;
    font-size: 90px;
    text-transform: uppercase;
    margin: 0;
}

.hero--loader{
    opacity: 0;
    color: $PRIMARY--WHITE;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: $PRIMARY--WHITE;
}

.loader--member-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: $BLACK;
    width: 20vw;
    display: flex;
    opacity: 0;
    flex-direction: column;
    .member--wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}