// .bx--type{

// }

// .bx--type-serif{

// }

// .bx--type-mono{

// }

// .bx--type-condensed{

// }

// .bx--type-semibold{

// }

.bx--type-regular{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .32px;
}

// .bx--type-light{

// }

.heading-01{
    color:black;
    font-size: 90px;
    text-transform: uppercase;
    margin: 0;
}