//NAV
$NAV_BAR_HEIGHT: 4rem;
$STATUS_BAR_HEIGHT: 40;


//Grid
$grid-gap: 2rem;


//TYPE
$body--font-family: 'Poppins', sans-serif;
$heading--font-family: 'Poppins', sans-serif;
$base--font-size: .9rem;
$base--font-weight: 400;


//Colors
$BLACK: #0E0E0E;
$PRIMARY--WHITE: #ECEBF3;
$SECONDARY--WHITE: #FFFFFF;