//NAV
$NAV--BAR--HEIGHT: 4rem;

//Grid
$GRID--GAP: 2rem;

//TYPE
$BODY--FONT-FAMILY: 'Poppins', sans-serif;
$HEADING-FONT-FAMILY: 'Poppins', sans-serif;
$BASE--FONT-SIZE: .9rem;
$BASE--FONT-WEIGHT: 400;


//Colors
$BLACK: #0E0E0E;
$PRIMARY--WHITE: #ECEBF3;
$SECONDARY--WHITE: #FFFFFF;