@import '../base/variables';

// Nav Styles
.nav--flex--space--layout {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
  * {
    margin: auto 0;
  }
}

.nav--wrapper {
  z-index: 9;
  * {
    color: $PRIMARY--WHITE;
  }
}

.nav {
  margin: 0 auto;
  height: inherit;
  height: $NAV--BAR--HEIGHT;
  a {
    text-decoration: none;
    color: $PRIMARY--WHITE;
  }
  a:hover {
    color: $SECONDARY--WHITE;
  }
  .nav--menu {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
  }
}
