/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ibm-plex-mono:
 *   - http://typekit.com/eulas/00000000000000007735945a
 *   - http://typekit.com/eulas/00000000000000007735946a
 * latienne-pro:
 *   - http://typekit.com/eulas/00000000000000007735a469
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-03-19 05:35:45 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nrq7gce&ht=tk&f=23550.39873.39877&a=2025242&app=typekit&e=css");

@font-face {
  font-family: "latienne-pro";
  src: url("https://use.typekit.net/af/596810/00000000000000007735a469/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/596810/00000000000000007735a469/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/596810/00000000000000007735a469/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "ibm-plex-mono";
  src: url("https://use.typekit.net/af/709d66/00000000000000007735945a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/709d66/00000000000000007735945a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/709d66/00000000000000007735945a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "ibm-plex-mono";
  src: url("https://use.typekit.net/af/d37375/00000000000000007735946a/30/l?subset_id=2&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d37375/00000000000000007735946a/30/d?subset_id=2&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d37375/00000000000000007735946a/30/a?subset_id=2&fvd=n8&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

.tk-latienne-pro {
  font-family: "latienne-pro", serif;
}
.tk-ibm-plex-mono {
  font-family: "ibm-plex-mono", sans-serif;
}
